.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.ingredients {
    display: inline-block;
    width: 45%;
}
.ingredient-title{
    margin-left: 20px;
}
.hamburger{
    display: inline-block;
    width: 50%;
    text-align: center;
}

.count,
.ing-name,
.price,
.delete-btn {
    display: inline-flex;
    margin: 20px 20px;
    width: 10%;
}
.delete-btn{
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent url(components/assets/delete.jpg) 50% 50% no-repeat;
    background-size: cover;
    margin: 0;
    vertical-align: middle;
}

.img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border-radius: 50%;
}
.add-ingredient{
    margin: 10px;
}
